.wrapper__faqs {
    display: block;
    background: var(--color-white);
    margin-top: 3rem;
}

.container__faqs {
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.faqs_info {
    padding-right: 1.5rem;
    padding-left: 1.5rem;
    display: block;
}

.faqs_info > h4 {
    text-align: center;
    font-weight: 500;
}

.faqs_list {
    margin-top: 1rem;
}

.faq_bullet_collapse {
    position: relative;
    cursor: pointer;
    margin: 0px auto;
    padding-top: 12px;
    padding-bottom: 12px;
    max-width: 510px;
}

.wrapper__expand_collapse_button {
    top: 0;
    align-items: center;
    display: flex;
    padding: 0 .5rem;
    position: absolute;
    z-index: 1;
}

.expand_collapse_button {
    background-color: transparent;
    border-radius: 10rem;
    cursor: pointer;
    display: inline-block;
    padding: 1rem;
    transition: background-color .4s;
}

.expand_collapse_button:hover {
    background-color: rgba(37, 40, 45, .1);
}

.expand_collapse_button:active {
    background-color: rgba(37, 40, 45, .2);
}

.expand_collapse_button:focus {
    background-color: rgba(37, 40, 45, .2);
    outline: 2px solid #008182;
    outline-offset: 1px;
}

.wrapper__question {
    margin-left: 50px;
    cursor: pointer;
    line-height: 1;
}

.question {
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.25rem;
    margin: 0;
}

.faq_bullet_expand {
    margin-top: 8px;
    margin-left: 50px;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.wrapper__answer {
    line-height: 1;
}

.answer {
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5rem;
}

.faq_more_info {
    margin-top: .5rem;
    line-height: 1;
}

.more_info_link {
    align-items: center;
    display: inline-flex;
    font-size: 1rem;
    line-height: 1.5rem;
    font-weight: 500;
}

.more_info_link_content {
    margin-right: .25rem;
    border-bottom-color: transparent;
    color: var(--color-primary-variant);
}

.more_info_link_content:hover {
    border-bottom: 1px solid;
}

.more_info_link_content:active {
    border-bottom: 1px solid;
}

.more_info_link_content:focus {
    outline: 2px solid #008182;
    outline-offset: 1px;
}

@media screen and (min-width: 900px) {
    .faqs_info > h4 {
        font-size: 1.5rem;
        line-height: 2rem;
    }

    .question {
        font-size: 1.125rem;
        line-height: 1.5rem;
    }
    
}