.wrapper__testimonials {
    display: block;
    background: var(--color-white);
}

.container__testimonials {
    display: block;
    padding: 3rem 1rem 1rem 1rem;
}

.testimonials_info {
    padding-right: 1.5rem;
    padding-left: 1.5rem;
    display: block;
}