.wrapper__getStarted {
    display: block;
}

.container__getStarted {
    align-items: center;
    border: 22px solid var(--color-bright);
    background: var(--color-white);
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 4rem 2rem;
}

.getStarted_info {
    display: block;
    margin-bottom: 1rem;
}

.getStarted_info h2 {
    text-align: center;
}