.wrapper__get_started {
    display: block;
    margin-top: 3rem;
}

.container__get_started {
    align-items: center;
    border: 22px solid var(--color-bright);
    background: var(--color-white);
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 4rem 2rem;
    margin-top: -3rem;
}

.container__get_started_kids {
    align-items: center;
    border: 22px solid var(--color-bright);
    background: var(--color-white);
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 4rem 2rem;
}

.get_started_info {
    display: block;
    margin-bottom: 1rem;
}

.get_started_info > h2 {
    text-align: center;
}

@media screen and (min-width: 900px){
    .get_started_info > h2 {
        font-size: 1.75rem;
        line-height: 2.25rem;
    }
    
}