.wrapper__footer {
    display: block;
    font-size: 1rem;
    font-weight: 400;
    letter-spacing: normal;
    line-height: 1rem;
    background: var(--color-white);
}

.container__footer {
    display: block;
    margin: 0 auto;
    max-width: 1230px;
}

.wrapper__region_selector {
    justify-content: space-between;
    align-items: center;
    display: flex;
    gap: 1.25rem 1.6rem;
    padding: 1rem 1rem 2.25rem;
}

.questions {
    display: flex;
    font-size: .875rem;
    gap: .25rem;
}

.questions a {
    text-decoration: underline;
}

.more_info {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.wrapper__btn-round {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 1rem;
}

.btn-round {
    cursor: pointer;
    letter-spacing: .0175em;
    font-size: .875rem;
    text-transform: uppercase;
    height: 2.5rem;
    line-height: 1rem;
    padding: 0 1.5rem;
    background-color: var(--color-white);
    transition: background-color .4s;
    text-align: center;
    white-space: nowrap;
    border-radius: 1000px;
    font-weight: 500;
    align-items: center;
    border: 2px solid transparent;
    display: inline-flex;
    justify-content: center;
    width: auto;
}

.expand_collapse {
    height: 16px;
    width: 16px;
    margin-left: .5rem;
    margin-right: 0;
}

.wrapper__btn-round::before {
    content: '';
    border-bottom: 1px solid #515762;
    flex-grow: 1;
    flex-shrink: 1;
    margin-right: .25em;
    text-align: center;
    visibility: visible;
}

.wrapper__btn-round::after {
    content: '';
    border-bottom: 1px solid #515762;
    flex-grow: 1;
    flex-shrink: 1;
    margin-left: .25em;
    text-align: center;
    visibility: visible;
}

.btn-round:hover {
    background-color: rgba(37, 40, 45, .1);
    border-radius: 1000px;
}

.btn-round:active {
    background-color: rgba(37, 40, 45, .2);
}

.btn-round:focus {
    background-color: rgba(37, 40, 45, .2);
    outline: 2px solid #008182;
    outline-offset: 1px;
}

.region_selector {
    display: flex;
    align-items: center;
    gap: .25rem;
}

.region_logo {
    width: 18px;
    height: 18px;
}

.wrapper__footer_links {
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
    justify-content: space-between;
    text-align: center;
    padding: 0 .5rem 1.25rem;
}

.container__footer_links {
    line-height: 1.25rem;
    font-size: .875rem;
    font-weight: 400;
}

.trademark {
    line-height: 1.25rem;
    font-size: .875rem;
    font-weight: 400;
}