.wrapper__lookYourBest {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    background: var(--color-bright-variant);
    padding-left: 1rem;
    padding-right: 1rem;
    padding-bottom: 1rem;
}

.container__lookYourBest {
    display: block;
}

.lookYourBest_info h2 {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    line-height: 2rem;
    text-align: center;
}

.wrapper__lookYourBest_icons {
    background: var(--color-bright-variant);
}

.container__lookYourBest_icons {
    padding: 1rem;
    background-color: var(--color-white);
}

.lookYourBest_grid_container {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(1, 1fr);
}

.lookYourBest_grid_item {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-self: center;
    max-width: 375px;
    overflow: hidden;
    padding: 1rem 2rem;
    text-align: center;
}

.icon {
    aspect-ratio: 1 / 1;
    width: 136px;
}

.icon img {
    display: block;
    height: 100%;
    width: 100%;
    overflow: hidden;
    overflow-clip-margin: content-box;
}

.icon_heading {
    font-size: 1.125rem;
    line-height: 1.5rem;
    font-weight: 500;
}

.icon_content {
    margin: .5rem 1rem;
    text-align: center;
    font-size: 1rem;
    line-height: 1.5rem;
}