.wrapper__look_your_best {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    background: var(--color-bright-variant);
    padding-left: 1rem;
    padding-right: 1rem;
    padding-bottom: 1rem;
    margin-top: 3rem;
}

.container__look_your_best {
    display: block;
}

.look_your_best_info h2 {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    line-height: 2rem;
    text-align: center;
}

.wrapper__look_your_best_icons {
    background: var(--color-bright-variant);
    max-width: 1440px;
    margin: 0 auto;
}

.container__look_your_best_icons {
    padding: 1rem;
    background-color: var(--color-white);
}

.look_your_best_grid_container {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(1, 1fr);
}

.look_your_best_grid_item {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-self: center;
    max-width: 375px;
    overflow: hidden;
    padding: 1rem 2rem;
    text-align: center;
}

.icon {
    aspect-ratio: 1 / 1;
    width: 136px;
}

.icon img {
    display: block;
    height: 100%;
    width: 100%;
    overflow: hidden;
    overflow-clip-margin: content-box;
}

.icon_heading {
    font-size: 1.125rem;
    line-height: 1.5rem;
    font-weight: 500;
}

.icon_content {
    margin: .5rem 1rem;
    text-align: center;
    font-size: 1rem;
    line-height: 1.5rem;
}

@media screen and (min-width: 900px) {
    .container__look_your_best {
        padding: 0 5rem 5rem 5rem;
    }

    .look_your_best_grid_container {
        grid-template-columns: repeat(3, 1fr);
    }

    .look_your_best_info > h2 {
        font-size: 1.75rem;
        line-height: 2.25rem;
        margin-top: 2.5rem;
        margin-bottom: 2.5rem;
    }

    .icon_heading {
        font-size: 1.25rem;
        line-height: 1.75rem;
    }

    .icon_content {
        font-size: 1.125rem;
        line-height: 1.75rem;
    }
    
}