.wrapper__getStarted {
    display: block;
}

.container__getStarted {
    align-items: center;
    border: 22px solid var(--color-bright);
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 4rem 2rem;
}

.getStarted_info {
    padding-right: 1.5rem;
    padding-left: 1.5rem;
    display: block;
}