* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: 'Brandon Text', sans-serif;
  color: var(--color-text);
  letter-spacing: normal;
}

:root {
  --color-primary: #03464e;
  --color-primary-variant: #03615d;
  --color-bright: #81e6d2;
  --color-bg: #f8f2ed;
  --color-white: #ffffff;
  --color-bg-light: #f8f2ed;
  --color-text: #25282d;
  --color-bright-variant: #d8f7f1;

  --transition: all 400ms ease;
}

html {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: .5em;
  height: .25em;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.35);
  border-radius: 4px;
  transition: background 0.2s ease-in-out;
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(0, 0, 0, 0.7);
}

::-webkit-scrollbar-thumb:active {
  background: rgba(0, 0, 0, 0.7);
}

body {
  color: var(--color-text);
  line-height: 1.7;
}

.btn {
  font-size: .875rem;
  background-color: var(--color-bright);
  border: 2px solid transparent;
  cursor: pointer;
  letter-spacing: .015em;
  padding: .875rem 1rem;
  text-align: center;
  text-transform: uppercase;
  white-space: nowrap;
  text-decoration: none;
  transition: background-color .4s;
  font-weight: 500;
  font-style: normal;
  line-height: 1rem;
}

.btn:hover {
  background-color: white;
}

.btn-secondary {
  display: block;
  font-size: .875rem;
  background-color: var(--color-white);
  border: 2px solid #008182;
  cursor: pointer;
  padding: .625rem .75rem;
  text-align: center;
  text-transform: uppercase;
  white-space: nowrap;
  text-decoration: none;
  transition: background-color .4s;
  font-weight: 500;
  font-style: normal;
  line-height: 1rem;
}

.btn-secondary:hover {
  background-color: rgba(0, 129, 130, .1);
}


h1 {
  font-size: 2rem;
  font-style: normal;
  font-weight: 500;
  letter-spacing: normal;
  line-height: 2.5rem;
  margin-bottom: 1rem;
}

h2 {
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 500;
  letter-spacing: normal;
  line-height: 2rem;
}

h3 {
  font-size: 1.5rem;
}

h4 {
  font-size: 1.25rem;
}

h5 {
  font-size: 1rem;
}

img {
  max-width: 100%;
}

a {
  color: var(--color-text)
}

audio, canvas, embed, iframe, img, object, svg, video {
  display: block;
}

dd, dl, dt, li, ol, ul {
  margin: 0;
  padding: 0;
}