.wrapper__header {
    display: block;
    margin-right: auto;
    margin-left: auto;
    max-width: 1368px;
    width: 100%;
    position: fixed;
}

.container__header {
    display: flex;
    align-items: center;
    background: var(--color-white);
    height: 3rem;
    position: relative;
}

.container__nav {
    display: flex;
    cursor: pointer;
    align-items: center;
    background-color: transparent;
    height: 100%;
    text-align: left;
    padding: 0 .625rem;
    margin: 0;
    line-height: normal;
}

.wrapper__menu {
    height: 24px;
    width: 24px;
    margin-right: .65rem;
}

.menu_icon {
    width: 100%;
    height: 100%;
}

.wrapper__logo {
    width: 2rem;
    display: block;
}

.logo_circle {
    height: 100%;
    width: 100%;
    padding-top: .25rem;
}

.category-links {
    display: flex;
    cursor: pointer;
    margin: 0;
    padding: 0;
    height: 100%;
    padding-top: .6rem;
}

.category-links a {
    background-position-y: 100%;
    background-repeat: no-repeat;
    background-size: 0 4px;
    transition: background-size .4s;
    padding: 0 .875rem;
    align-items: center;
}

.category-links a:hover {
    background-image: linear-gradient(#bfbfbf,#bfbfbf);
    background-position-x: 50%;
    background-size: 100% 4px;
}

.active {
    color: black;
    background-image: linear-gradient(#22bfb0,#22bfb0);
    background-position-x: 50%;
    background-size: 100% 4px;
}

.category-links a:active {
    color: black;
    background-image: linear-gradient(#bfbfbf,#bfbfbf);
    background-position-x: 50%;
    background-size: 100% 4px;
    outline: 2px solid #008182;
    outline-offset: 1px;
}

.wrapper__cart {
    display: flex;
    right: 1rem;
    top: 0;
    align-items: center;
    height: 100%;
    position: absolute;
}

.cart_icon {
    height: 24px;
    width: 24px;
    line-height: 1rem;
    cursor: pointer;
}