.container__header {
    display: flex;
    align-items: center;
    padding: .5rem;
    gap: 1rem;
    background: var(--color-white);
}

.container__nav {
    display: flex;
}


.category-links {
    display: flex;
    gap: 1.5rem;
    cursor: pointer;
}

a {
    background-position-y: 100%;
    background-repeat: no-repeat;
    background-size: 0 4px;
    transition: background-size .4s;
    padding: 0 .875rem;
}

a.active {
    color: black;
    background-image: linear-gradient(#22bfb0,#22bfb0);
    background-position-x: 50%;
    background-size: 100% 4px;
}

a:hover {
    background-image: linear-gradient(#bfbfbf,#bfbfbf);
    background-position-x: 50%;
    background-size: 100% 4px;
}
