.wrapper__testimonials {
    display: block;
    background: #fafafa;
    margin-top: 3rem;
}

.container__testimonials {
    margin-right: auto;
    margin-left: auto;
    padding-right: 1rem;
    padding-left: 1rem;
    width: 100%;
    max-width: 1368px;
}

.container__image_info {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(1, 1fr);
}

.wrapper__image {
    aspect-ratio: 1074 / 716;
    max-width: 540px;
}

.wrapper__image img {
    object-fit: contain;
    height: 100%;
    width: 100%;
    display: block;
}

.testimonials_info {
    text-align: left;
}

.testimonials_info h2 {
    margin-bottom: 1rem;
    padding: 0 1rem;
    max-width: 400px;
}

.testimonials_info p {
    margin-bottom: 2rem;
    font-size: 1rem;
    line-height: 1.5rem;
    padding: 0 1rem;
    max-width: 400px;
}

.testimonials_swiper {
    display: flex;
    align-items: stretch;
    justify-content: flex-start;
    overflow-x: scroll;
    padding: 0 1rem .5rem;
    scroll-padding: 1rem;
    scroll-snap-type: x mandatory;
    line-height: 1;
}

.wrapper__testimonial_slide {
    display: block;
    background: var(--color-white);
    flex-basis: 300px;
    flex-shrink: 0;
    margin-right: 16px;
    scroll-snap-align: start;
}

.container__testimonial_slide {
    border: 2px solid #f2f3f4;
    border-bottom-color: #22bfb0;
    height: 100%;
    padding: 1.5rem;
    width: 100%;
    margin: 0;
}

.testimonial_slide_content {
    font-size: .875rem;
    font-weight: 400;
    line-height: 1.25rem;
}

.testimonial_slide_citation {
    display: inline-block;
    margin-top: .375rem;
    font-size: 1rem;
    font-weight: bold;
    line-height: 1.5rem;
    font-style: normal;
}

.quoteIcon {
    float: left;
    margin-right: 1rem;
}

@media screen and (min-width: 900px) {
    .container__image_info {
        margin-bottom: 44px;
        grid-template-columns: repeat(2, 1fr);
    }

    .testimonials_info {
        max-width: 540px;
        padding-left: 44px;
        padding-bottom: 44px;
        padding-top: 44px;
    }

    .testimonials_info > h2 {
        font-size: 1.75rem;
        line-height: 2.25rem;
    }

    .testimonials_swiper {
        justify-content: center;
        overflow-x: auto;
    }

    .wrapper__testimonial_slide {
        flex-basis: auto;
        flex-shrink: 1;
        margin: 0 .75rem;
        max-width: 410px;
    }

    .container__testimonial_slide {
        padding: 2rem;
    }

    .testimonial_slide_content {
        font-size: 1rem;
        line-height: 1.5rem;
    }
}