.wrapper__styles {
    display: block;
    background: var(--color-white);
    margin-top: 3rem;
}

.styles_info {
    padding-right: 1.5rem;
    padding-left: 1.5rem;
    display: block;
    text-align: left;
}

.styles_info h2 {
    margin-bottom: .7rem;
}

.styles_info p {
    margin-bottom: 2rem;
    font-size: .875rem;
    line-height: 1.25rem;
}

.container__styles_swiper {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    max-width: 1440px;
    padding: 0 1.5rem;
}