.wrapper__styles {
    display: block;
    background: var(--color-white);
    margin-top: 3rem;
}

.styles_info {
    padding-right: 1.5rem;
    padding-left: 1.5rem;
    display: block;
    text-align: left;
}

.styles_info h2 {
    margin-bottom: .7rem;
}

.styles_info p {
    margin-bottom: 2rem;
    font-size: .875rem;
    line-height: 1.25rem;
}

.wrapper__styles_swiper {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    padding: 0 1.5rem;
}

.container__styles {
    margin: 0px auto;
    max-width: 1660px;
}

.container__styles_swiper {
    overflow: hidden;
}

.styles_label {
    background: var(--color-white);
    bottom: 32px;
    left: 0;
    padding: .375rem 1rem;
    position: absolute;
}

.styles_link {
    align-items: center;
    display: inline-flex;
}

.styles_link_content {
    margin-right: .25rem;
    color: #00625d;
    border-bottom-color: transparent;
    font-weight: 500;

}

.swiper_slide {
    width: fit-content;
}

.swiper_image_home {
    height: 306px;
    width: auto;
}

.swiper_image {
    height: 503px;
    width: auto;
}

@media screen and (min-width: 560px) {
    .styles_info > h2 {
        text-align: center;
        font-size: 1.5rem;
        line-height: 2rem;
    }

    .styles_info > p {
        margin-bottom: 2rem;
        text-align: center;
        max-width: 750px;
        margin-left: auto;
        margin-right: auto;
    }
}

@media screen and (min-width: 900px) {
    .styles_info > h2 {
        text-align: center;
        font-size: 1.75rem;
        line-height: 2.25rem;
    }

    .styles_info > p {
        margin-bottom: 2rem;
        text-align: center;
        font-size: 1rem;
    }
}