.wrapper__homeheader {
    display: block;
    margin: 0 auto;
    background: linear-gradient(180deg, transparent, rgba(0, 0, 0, .5)), #004f58;
}

.container__homeheader {
    display: grid;
    grid-template-columns: 1fr;
    padding-top: 3rem;
}

.container_image {
    display: block;
    line-height: 0;
}

.fashion-image {
    object-fit: contain;
    height: 100%;
    width: 100%;
}

.container_content {
    display: block;
    padding: 2rem 1.5rem;
}

.content_title {
    margin-bottom: 1rem;
    color: var(--color-white);
}