.container__homeheader {
    display: grid;
    grid-template-columns: 1fr;
}

.container_image {
    display: block;
    line-height: 0;
}

.fashion-image {
    object-fit: contain;
    height: 100%;
    width: 100%;
}

.container_content {
    display: flex;
    flex-direction: column;
    padding: 2rem 1.5rem;
    align-items: flex-start;
    background-color: var(--color-primary);
    color: var(--color-white);
}
